# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. TensorFlow
4. Matplotlib

| Data Science Tools |
| -------------| 
| RStudio |
| Apache Spark | 
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
a = 200
b = 60
print(a/b)

3.3333333333333335

***Objectives:***

- List popular languages for Data Science
- List of commonly used libraries
- Create Tables in Markdown
- Create ordered and unordered lists in Markdown

## Author
Jane Lim